.home {
  display: grid;
  padding-top: 6rem;
  padding-inline: var(--container-gap);
  grid-template-columns: 1fr 2fr 1fr;
}

.home--nav {
  height: 2rem;
}

.home--main {
  height: 2rem;
}

.home--aside {
  height: 2rem;
}
