@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

.custom-container-cols {
  display: grid;
  grid-template-columns: 1fr;
}

.custom-container-cols-left {
  display: none;
}

.custom-container-cols-right {
  display: none;
}

.custom-container {
  max-width: 100%;
}

.custom-form-container {
  max-width: 100%;
}

.custom-container-2-cols {
  display: grid;
  grid-template-columns: 1fr;
}

.custom-container-2-cols-aside {
  display: none;
}

@media screen and (min-width: 640px) {
  .custom-form-container {
    max-width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .custom-container {
    max-width: 97%;
  }

  .custom-container-cols {
    grid-template-columns: 1fr 2fr;
  }

  .custom-container-cols-left {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .custom-container {
    max-width: 95%;
  }

  .custom-container-cols {
    grid-template-columns: 3fr 7fr 3fr;
  }

  .custom-container-cols-right {
    display: block;
  }

  .custom-container-2-cols {
    grid-template-columns: 3fr 1fr;
  }

  .custom-container-2-cols-aside {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .custom-container {
    max-width: 90%;
  }
}

@media screen and (min-width: 1280px) {
  .custom-container {
    max-width: 1280px;
  }
}
/* 
@media screen and (min-width: 1536px) {
  .custom-container {
    max-width: 1536px;
  }
} */
